:root {
    --color-default: blue;
    --color-wrong: red;
    --color-correct: green; 
}
  
body {
    padding: 0; 
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--color-default);
}

body.correct {
    background-color: var(--color-correct);
}

body.wrong {
    background-color: var(--color-wrong);
}

.container {
    margin: auto;
    background-color: white;
    border-radius: 6px;
    padding: 15px;
}

.btn-grid {
    display: grid;
    grid-template-columns: 80px 80px;
    gap: 10px;
    margin: 20px 10px;
}

.btn {
    background-color: yellow;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
}
  
.btn:hover {
    background-color: gray;
}

.btn.correct {
    background-color: var(--color-correct);
    color: black;
}

.btn.wrong {
    background-color: var(--color-wrong);
}

.start-btn, .next-btn {
    font-weight: bold;
    padding: 10px 30px;
}

.move {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;  
}
  
